{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block header %}
    <div class="d-flex justify-content-center my-4">
        {% if profile.avatar %}
            <img src="{{ profile.avatar.url }}" class="rounded-circle w-50 h-50" alt="Avatar">
        {% else %}
            <img src="{% static 'avatar.png' %}" class="rounded-circle w-50 h-50" alt="Avatar">
        {% endif %}
    </div>
    <h4 class="text-center">{{ profile.user.frst_name }} {{ profile.user.last_name }}</h4>
    <h5 class="text-center">{{ profile.user.username }}</h5>
    
{% endblock header %}

{% block content %}
    <p>{{ profile.bio }}</p>
    {% if user.is_authenticated and user == profile.user %}
        <div>
            <form action="{% url 'accounts:edit_profile' %}" method='get'>
                {% bootstrap_button button_type="submit" content="Edit profile" %}
            </form>
        </div>
    {% endif %}
{% endblock content %}