{% extends "base.html" %}

{% block content %}

    <p>Topics</p>
    <ul>
        {% for topic in topics %}
            <li>
                <a href="{% url 'logs:topic' topic.id %}">{{ topic.text }}</a>
                <p>Added by {{ topic.owner.username }} on {{ topic.date_added|date:'M d, Y H:i' }}</p>
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'logs:new_topic' %}">Add a new topic</a>

{% endblock content %}