{% extends "base.html" %}

{% block content %}

    <p>Topic: {{ topic.text }}</p>
     <p>Added by {{ topic.owner.username }} on {{ topic.date_added|date:'M d, Y H:i' }}</p>
    {% if user.is_authenticated %}
        <div style="display: flex; gap: 0.5em">
            <form action="{% url 'logs:topic' topic.id %}" method='post'>
                {% csrf_token %}
                <input type="hidden" name="_method" value="DELETE">
                <button name="submit">Delete topic</button>
            </form>
            <form action="{% url 'logs:new_entry' topic.id  %}" method='get'>
                {% csrf_token %}
                <button name="submit">Add entry</button>
            </form>
        </div>
    {% endif %}
    <hr/>
    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <p><a href="{% url 'logs:edit_entry' entry.id %}">Edit entry</a></p>
            </li>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}