{% extends 'logs/base.html' %}

{% block content %}

    <p>Topics</p>
    <ul>
        {% for topic in topics %}
            <li>
                <form action="{% url 'logs:topic' topic.id %}" method='post'>
                    {% csrf_token %}
                    <a href="{% url 'logs:topic' topic.id %}">{{ topic.text }}</a>
                    <input type="hidden" name="_method" value="DELETE">
                    <button name="submit">Delete topic</button>
                </form>
            </li>
        {% empty %}
            <li>No topics have been added yet.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'logs:new_topic' %}">Add a new topic</a>

{% endblock content %}