<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Learning Logs</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'logs:index' %}">Learning Log</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <!-- Left side of navbar -->
            <ul class="navbar-nav me-auto gap-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logs:topics' %}">
                        Topics</a></li>
            </ul>

            <!-- Right side of navbar -->
            <ul class="navbar-nav ms-auto mb-2 mb-md-0 gap-2">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <label class="navbar-text">Hello, {{ user.username }}.</label>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'accounts:logout' %}" method='post'>
                            {% csrf_token %}
                            {% bootstrap_button button_type="submit" content="Log out" %}
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <form action="{% url 'accounts:register' %}" method='get'>
                            {% bootstrap_button button_type="submit" content="Register" %}
                        </form>
                    </li>
                    <li class="nav-item">
                        <form action="{% url 'accounts:login' %}" method='get'>
                            {% bootstrap_button button_type="submit" content="Log in" %}
                        </form>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

<main class="container">
    <div class="pb-2 mb-2 border-bottom">
        {% block header %}{% endblock header %}
    </div>

    <div>
        {% block content %}{% endblock content %}
    </div>
</main>

</body>
</html> 
